day 13/.parcel-cache/1b7d2a5ae05a1752-BundleGraph-0
day 13/.parcel-cache/7f973df67467291d-AssetGraph-0
day 13/.parcel-cache/a35fb01fae39aca0-AssetGraph-0
day 13/.parcel-cache/data.mdb
day 13/.parcel-cache/lock.mdb
day 13/.parcel-cache/requestGraph-f7251fcad3fb0257-0
day 13/.parcel-cache/requestGraph-nodes-0-f7251fcad3fb0257-0
day 13/.parcel-cache/snapshot-f7251fcad3fb0257.txt
day 13/dist/index.8639f92a.js
day 13/dist/index.8639f92a.js.map
day 13/task8/dist/index.2a162757.js
day 13/task8/dist/index.2a162757.js.map
day 13/.gitignore
